
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
body{
	font-family: 'Alata', sans-serif;
}
h1, h2, h3{
    font-family: 'Alata', cursive;
}
p{
    font-family: 'Ubuntu', sans-serif;
}
ul li{
    list-style-type: none;
    display: inline-block;
}
ul{
    padding-left: 0px;
}
a:hover{
	text-decoration: none;
}
.bg-light {
    background-color: #fff!important;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 18px;
    /* padding: 0 25px; */
    padding: 17px;
}
.navbar-brand img{
    width: 100px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255 115 115);
    transition: .5s ease-in ease-out;
}
.banner img{
	width: 100%;
}
.textoverimage h2{
	font-size: 42px;
	font-weight: 600;
}
.textoverimage p{
	font-size: 20px;

}
.textoverimage {
    position: absolute;
    top: 180px;
    right: 0px;
    width: 565px;
}
.detailed a{
	font-size: 18px;
	color: #000;
}
.about{
    padding: 4rem 0rem;
    background: #18122a;
}
.about img{
    position: relative;
}
.backimg img{
    position: absolute;
    top: 0px;
    width: 400px;
}
.main-img img {
    position: relative;
    right: -94px;
    top: 51px;
    width: 400px;
}
.about {
    color: #fff;
}
.about p{
    font-weight: 300;
    line-height: 30px;

}
.social-icon i {
    color: #fff;
}
.social-icon .facebook {
    background-color: #3b5998;
}
.social-icon li{
    padding-right: 20px;
    font-size: 25px;
}
